# Java
/target/
*.class
*.jar
*.war
*.log
# Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
# IDEs (se usi IntelliJ o VS Code)
.idea/
.vscode/
# Python
__pycache__/
*.pyc
venv/
.env
